/* Adding fonts start */
@font-face {
    font-family: 'FuturaNew';
    src: url("fonts/FuturaNewBold.otf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaNew';
    src: url("fonts/FuturaNewBook.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaNew';
    src: url("fonts/FuturaNewDemi.otf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'FuturaNew';
    src: url("fonts/FuturaNewMedium.otf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url("fonts/GeorgiaItalic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url("fonts/GeorgiaItalic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'GothamPro';
    src: url("fonts/GothamProItalic.otf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'GothamPro';
    src: url("fonts/GothamProMedium.otf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src: url("fonts/GothamProRegular.ttf");
    font-weight: 400;
    font-style: normal;
}
/* Adding fonts end */


/* Main styles start*/
* {
    margin: 0;
    /*box-sizing: border-box;*/
    font-size: 10px;
    font-family: 'GothamPro';
}

a {
    text-decoration: none;
}

/* Main styles end*/


/* Header styles start */
.header {
    background: #000000;
    font-family: 'GothamPro';
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.navigation {
    text-transform: uppercase;
}

.navigation__nav {
    display: inline-block;
    width: 69%;
}

.navigation__menu {
    display: inline-block;
    width: 30.6%;
    text-align: right;
}

/*.header__navigation {*/
    /*margin-right: 121px;*/
    /*margin-left: 121px;*/
/*}*/

.nav__link {
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 11px;
    display: inline-block;
    transition: all 0.3s ease-out;
}

.nav__link:first-child {
    padding-left: 0;
}

.nav__link:hover {
    color: #89b7ff;
}

.nav__link_white {
    color: #ffffff;
}

.menu__text {
    padding-right: 8px;
    display: inline-block;
}

.menu__text_white {
    color: #ffffff;
    line-height: 11px;
    letter-spacing: 0.1em;
    transition: all 0.3s ease-out;
}

.menu__button {
    width: 28px;
    height: 2px;
    background: #fff;
    display: inline-block;
    margin-top: 9px;
}

.menu__button:before {
    display: block;
    content: "";
    width: 28px;
    height: 2px;
    box-shadow: 0 -8px 0 0 #fff;
}

.menu__link-wrap {
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
}

.menu__link-wrap:hover .menu__text{
    color: #89b7ff;
}

.header-favorites {
    display: none;
}

.subheader {
    background: #ffffff;
}

.subheader__userarea {
    display: inline-block;
}

.subheader__userarea-right {
    text-align: right;
}

.phone {
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 10px;
    color: #000000;
    font-weight: 600;
}

.userarea__phone {
    width: 180px;
    margin-right: 30px;
}

.phone__img {
    float: left;
    padding-right: 11px;
    transition: all 0.3s ease-out;
}

.phone__text_opacity {
    opacity: 0.5;
}

.phone__text_uppercase {
    text-transform: uppercase;
}

.phone__link {
    line-height: 14px;
    transition: all 0.3s ease-out;
}

.phone__link_black {
    font-size: 15px;
    color: #000000;
}

.phone:hover .phone__img {
    fill: #89b7ff;
}
.phone:hover .phone__link {
    color: #89b7ff;
}

.email {
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 10px;
    color: #000000;
    font-weight: 600;
}

.userarea__email {
    width: 140px;
}

.email__img {
    float: left;
    padding-right: 11px;
    transition: all 0.3s ease-out;
    padding-top: 5px;
}

.email__text_opacity {
    opacity: 0.5;
}

.email__link {
    line-height: 18px;
    transition: all 0.3s ease-out;
}

.email__link_black {
    font-size: 15px;
    color: #000000;
    text-transform: none;
}

.email:hover .email__img {
    fill: #89b7ff;
}
.email:hover .email__link {
    color: #89b7ff;
}

.subheader__logo {
    display: inline-block;
}

.subheader__logo_dark-bg {
    background: #F3F3F3;
}

.subheader-logo__img {
    padding-top: 17px;
    padding-lefT: 16px;
    padding-bottom: 22px;
    padding-right: 13px;
}

.signup {
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.userarea__signup {
    width: 190px;
    margin-left: 110px;
}

.signup__img-right {
    float: right;
    padding-left: 11px;
    transition: all 0.3s ease-out;
}

.signup__text_opacity {
    opacity: 0.5;
}

.signup__link {
    line-height: 18px;
    transition: all 0.3s ease-out;
}

.signup__link_black {
    font-size: 15px;
    color: #000000;
}

.signup__link_black-span {
    font-size: 15px;
    color: #000000;
}

.signup:hover .signup__img-right {
    fill: #89b7ff;
}
.signup:hover .signup__link_black-span {
    color: #89b7ff;
}

.shopping-cart {
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 10px;
    color: #000000;
    font-weight: 600;
}

.userarea__shopping-cart {
    width: 140px;
    margin-left: 26px;
}

.shopping-cart__img-right {
    float: right;
    padding-left: 13px;
    transition: all 0.3s ease-out;
}

.shopping-cart__text_opacity {
    opacity: 0.5;
}

.shopping-cart__link {
    line-height: 18px;
    transition: all 0.3s ease-out;
}

.shopping-cart__link_black {
    font-size: 15px;
    color: #000000;
}

.shopping-cart__link_uppercase {
    text-transform: uppercase;
}

.shopping-cart__link:hover  {
    color: #89b7ff;
}

.shopping-cart__basket {
    padding-bottom: 10px;
    position: absolute;
    transform: translate(-100%, -70%);
    display: inline-block;
    transition: 0.1s ease-out 0.1s;
}


.shopping-cart__counter-link {
    color: #fff;
    background: #000;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
    transition: 0.1s ease-out 0.1s;
}

.shopping-cart__counter-link:after {
    content: '';
    position: absolute;
    bottom: 9px;
    left: 33%;
    border: 6px solid transparent;
    border-top-color: #000;
    border-bottom: 0;
}

.shopping-cart__basket-relative {
    position: relative;
}
/* Header styles end */


/* Assortment styles start */
.assortment__container {
    displaY: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 22px;
}

.assortment-item {
    text-align: center;
}

.assortment-item__img {
    transition: 0.1s ease-out 0.1s;
}

.assortment-item__link {
    padding-top: 14px;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.assortment-item p {
    margin-bottom: 10px;
}

.assortment-item:hover .assortment-item__img {
    opacity: 0.7;
}
.assortment-item:hover .assortment-item__link {
    color: #89b7ff;
}
/* Assortment styles end */


/* Slider styles start */

.slider__slide {
    text-align: center;
    position: relative;
}

.body__slider {
    margin-top: 20px;
}

.slide__headline {
    display: inline-block;
    max-width: 400px;
    text-align: left;
    position: absolute;
    top: 11%;
    lefT: 9.5%;
}

.slide__headline_black {
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.slide__text {
    line-height: 26px;
    position: absolute;
    text-align: left;
    left: 9.5%;
    top: 38%;
}

.slide__text_black {
    font-family: 'Georgia';
    font-size: 21px;
    color: #000000;
    opacity: 0.7;
}

.slide__btn {
    padding-top: 21px;
    padding-bottom: 16px;
    padding-right: 22px;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    top: 50.5%;
    left: 9.5%;
    transition: 0.1s ease-out 0.1s;
}

.slide__btn:hover {
    opacity: 0.9;
}

.btn_white-text {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn_blue-bg {
    background: linear-gradient(106.57deg, #807FD4 0%, #609CE2 0.01%, #2346FF 100%);
    box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
    border-radius: 4px;
    border: none;
}

.slider__checkbox-wrap {
    display: flex;
    position: absolute;
    top: 90.4%;
    left: 9.5%;
}

.slider__checkbox-item {
    width: 10px;
    height: 6px;
    border-radius: 2px;
    margin-right: 7px;
}

.slider__checkbox-item_gray {
    background: #D7E4F4;
}

.slider__checkbox-item_blue {
    background: #2D54FB;
}

.slider__checkbox-item_big {
    width: 44px;
}

/* Slider styles end */


/* Advantages styles start */

.advantages__container {
    displaY: flex;
    text-align: center;
    margin-top: 71px;
}

.advantages-item__link {
    line-height: 18px;
    displaY: block;
    margin-bottom: 19px;
}

.advantages-item p {
    margin-bottom: 28px;
}

.advantages-item__link_black {
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.advantages-item__text {
    font-family: 'FuturaNew';
    line-height: 19px;
}

.advantages-item__text_op {
    font-size: 16px;
    color: #000000;
    opacity: 0.4;
}

.advantages-item__img {
    transition: 0.1s ease-out 0.1s;
}

.advantages-item:hover .advantages-item__img {
    opacity: 0.7;
}
.advantages-item:hover .advantages-item__link_black {
    color: #89b7ff;
}

/* Advantages styles end */


/* Shop styles start */

.shop-item {
    font-family: "FuturaNew";
    font-size: 10px;
    line-height: 14px;
    color: #000000;
    text-transform: uppercase;
}

.shop__shop-item {
    position: relative;
    display: inline-block;
    max-width: 260px;
    margin-bottom: 31px;
}

.shop-item__img {
    width: 100%;
}

.shop__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 64px;
}

.shop-item__in-stock {
    text-align: center;
    padding-left: 7px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.1s ease-out 0.1s;
}

.shop-item__in-stock:hover {
    background: #42ff65;
}

.shop-item__in-stock_white {
    letter-spacing: 0.1em;
    background: #000000;
    text-transform: uppercase;
    color: #ffffff;
}

.shop-item__link {
    display: block;
    line-height: 18px;
    margin-bottom: 13px;

}
.shop-item__link_black {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.shop-item__favorites:hover {
    fill: #be1d1e;
}
.shop-item__link_black:hover {
    color: #89b7ff;
}


.shop-item__text-wrap {
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 17px;
    position: relative;
}

.shop-item__favorites {
    position: absolute;
    top: 12%;
    right: 5%;
    transition: 0.1s ease-out 0.1s;
}

.shop-item__art_op {
    font-weight: 600;
    opacity: 0.5;
}

.shop-item__producer_op {
    font-weight: 600;
    opacity: 0.5;
}

.shop-item__producer-link {
    opacity: 1;
    transition: 0.1s ease-out 0.1s;
    text-decoration: underline;
    color: #000000;
}

.shop-item__producer-link:hover {
    text-decoration: none;
}

.shop-item__price {
    displaY: inline-block;
    margin-top: 10px;
    transition: 0.1s ease-out 0.1s;
}

.shop-item__price_black {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 600;
}

.shop-item__price_black:hover {
    color: #89b7ff;
}

.shop-item__old-price {
    margin-left: 3px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: 0.1s ease-out 0.1s;

}

.shop-item__old-price:hover {
    opacity: 0.7;
}

.shop-item__price-old_op {
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
    font-size: 14px;
}

/* Shop styles end */


/* Advanced market styles start */

.body__advanced-market {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 67px;
}
.advanced-market__advanced-market-item {
    width: 49.9%;
    position: relative;
    margin-bottom: 10px;
}

.advanced-market-item__img {
    float: right;
    mix-blend-mode: darken;
}

.advanced-market-item__link {
    line-height: 38px;
    position: absolute;
    left: 8%;
    top: 9%;
    max-width: 50%;
}

.advanced-market-item__link_black {
    font-size: 32px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.advanced-market-item__link_black:hover {
    color: #89b7ff;
}

.advanced-market-item__text {
    position: absolute;
    top: 32%;
    max-widtH: 42%;
    left: 7%;
}

.advanced-market-item__text_op {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.5;
}

.advanced-market-item__btn {
    padding: 12px 20px;
    position: absolute;
    top: 79%;
    left: 8%;
    transition: 0.1s ease-out 0.1s;
}

.advanced-market-item__btn:hover {
    opacity: 0.9;
}

.advanced-market-item_dark-bg {
    background: #F3F3F3;
}

/* Advanced market styles end */


/* About styles start */

.about {
    background: url(img/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.about__body {
    margin-top: 129px;
}

.about__wrapper {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.about__headline {
    line-height: 18px;
    margin-bottom: 34px;
}

.about__headline_black {
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.about__link {
    display: block;
    line-height: 42px;
    margin-bottom: 38px;
}

.about__link_black {
    font-size: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}

.about__text_black {
    font-size: 16px;
    line-height: 29px;
    color: #000000;

}

.about__text-headline {
    line-height: 21px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 13px;
}

.about__text-headline_black {
    font-family: 'FuturaNew';
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
}

.about__more-link {
    display: inline-block;
    margin-top: 37px;
    margin-right: 35px;
    line-height: 23px;
}

.about__more-link_black {
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.about__more-link_black:hover {
    color: #89b7ff;
}

.about__left-column {
    display: inline-block;
    width: 46%;
    margin-right: 7%;
    text-align: left;
}

.about__right-column {
    display: inline-block;
    width: 46%;
    vertical-align: top;
    text-align: left;
}

/* About styles end */


/* Our brands styles start */

.body__brands {
    margin-top: 145px;
}

.brands__headline {
    line-height: 52px;
    text-align: center;
    margin-bottom: 48px;
}

.brands__headline_black {
    font-size: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}

.brands__image-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands__img {
    margin-bottom: 36px;
}

/* Our brands styles end */


/* Reviews slider  styles start */

.body__reviews-slider {
    margin-top: 111px;
}

.reviews-slider_gray-bg {
    background: #F7F7F7;
}

.reviews-slider__headline {
    display: inline-block;
    line-height: 42px;
    max-width: 40%;
    margin-left: 98px;
    margin-top: 23px;
}

.reviews-slider__headline_black {
    font-size: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.reviews-slider__link{
    line-height: 12px;
    margin-right: 9px;
}

.reviews-slider__link_black {
    font-size: 13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    transition: 0.1s ease-out 0.1s;
}

.reviews-slider__link_black:hover {
    color: #89b7ff;
}

.reviews-slider__arrows {
    displaY: inline-block;
    margin-left: 376px;
}

.review-slider__arrow {
    margin-lefT: 40px;
    transition: 0.1s ease-out 0.1s;
}

.review-slider__arrow:hover {
    stroke: #89b7ff;
}

.review-slider__arrow_scaleX {
    transform: scale(-1, 1);
}

.review-slider__arrow_op {
    opacity: 0.5;
}

.reviews-slider__than-wrap {
    margin-top: 25px;
    margin-left: 97px;
}

.review-slides__review-slide {
    margin-top: 66px;
}

.review-slide {
    font-family: 'FuturaNew';
    color: #000000;
}

.review-slide__headline {
    margin-top: 18px;
    displaY: inline-block;
}

.review-slide__headline_black {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.review-slide__headline_black:hover {
    color: #89b7ff;
}

.review-slide__text {
    margin-bottom: 3px;
}

.review-slide__text_upper {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
}

.review-slide__link_gray {
    font-size: 16px;
    line-height: 20px;
    color: #626160;
    font-weight: 600;
    transition: 0.1s ease-out 0.1s;
}

.review-slide__link_gray:hover {
    color: #000000;
}

.review-slide__img {
    float: left;
    width: 27%;
    border-radius: 50%;
    margin-left: -33px;
}

.review-slide__text-cloud {
    font-size: 12px;
    line-height: 23px;
    color: #000000;
    padding-top: 33px;
    padding-right: 32px;
    padding-left: 34px;
    padding-bottom: 30px;
    max-widtH: 391px;
    margin-top: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 99px;
}

.review-slide__text-cloud_white-bg {
    background: #FFFFFF;
    box-shadow: -10px 14px 60px rgba(0, 0, 0, 0.07);
    border-radius: 0px 50px 50px 50px;
}

.reviews-slider__review-slides {
    display: inline-block;
}

.review-slides_op {
    opacity: 0.6;
}

/* Reviews slider styles end */


/* Bootstrap Grid styles start */
.container {
    max-width: 1134px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}


@media (max-width: 1280px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .container {
        max-width: 740px;
    }
    .navigation__menu {
        display: none;
    }
    .navigation__nav {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav__link {
        padding-top: 34px;
        padding-bottom: 36px;
    }
    .signup__link_black-span {
        display: none;
    }
    .signup__link:after {
        content: 'Войти';
    }
    .shopping-cart__basket-relative {
        display: none;
    }
    .f-column {
        flex-direction: column;
    }
    .userarea__phone {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .userarea__email {
        width: 100%;
    }
    .userarea__signup {
        width: 45%;
        margin-left: 10px;
    }
    .userarea__shopping-cart {
        width: 50%;
        margin-left: 10px;
    }
    .subheader-logo__img {
        padding-top: 13px;
        padding-lefT: 8px;
        padding-bottom: 16px;
        padding-right: 8px;
    }
    .slide__background {
        width: 100%;
    }
    .slide__text {
        top: 45%;
    }
    .slide__headline_black {
        font-size: 46px;
        line-height: 50px;
    }
    .slide__text_black {
        font-size: 19px;
    }
    .slide__btn {
        padding-top: 19px;
        padding-bottom: 14px;
        padding-right: 20px;
        padding-left: 18px;
        top: 59.5%;
    }
    .btn_white-text {
        font-size: 11px;
    }
    .shop__container {
        justify-content: space-around;
    }
    .advanced-market-item__text {
        max-width: 50%;
    }
    .advanced-market-item__link {
        max-width: 90%;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .header-favorites {
        display: inline-block;
        padding: 25px 0;
    }
    .navigation__nav {
        display: none;
    }
    .header-favorites__img {
        vertical-align: middle;
        padding-right: 5px;
    }
    .header-favorites__link {
        vertical-align: middle;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 11px;
        font-size: 12px;
    }
    .navigation__menu {
        display: inline-block;
    }
    .menu__text {
        display: none;
    }
    .f-column {
        display: none;
    }
    .signup__img-right {
        display: none;
    }
    .shopping-cart__img-right {
        display: none;
    }
    .subheader-logo__img {
        height: 50px;
    }
    .subheader__logo {
        transform: translateX(-15%);
    }
    .userarea__shopping-cart {
        margin-left: 20px;
    }
    .assortment__assortment-item {
        width: 30%;
        margin-bottom: 25px;
    }
    .slide__btn {
        display: none;
    }
    .slide__headline_black {
        font-size: 27px;
        line-height: 50px;
    }
    .slider__checkbox-wrap {
        top: 90.4%;
        left: 9.5%;
    }
    .slide__text_black {
        font-size: 16px;
    }
    .slider__checkbox-wrap {
        top: 83.4%;
    }
    .slide__text {
        top: 45%;
    }
    .advantages__container {
        flex-wrap: wrap;
    }
    .advantages__advantages-item {
        width: 49%;
    }
    .shop__container {
        justify-content: center;
    }
    .advanced-market__advanced-market-item {
        width: 100%;
    }
    .about__link {
        padding: 0 10%;
        padding-bottom: 5%;
        text-align: left;
    }
    .about__link_black {
        font-size: 27px;
    }
    .about__left-column {
        margin: 0;
        padding: 0 10%;
        width: 80%;
    }
    .about__right-column {
        margin: 0;
        padding: 0 10%;
        width: 80%;
    }
    .about__more-link {
        margin-right: 30px;
    }

}

@media (min-width: 1280px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
}
/* Bootstrap Grid styles end */
